$margin-xl: 100px;
$margin-lg: 70px;
$margin-md: 40px;
$margin-sm: 20px;
$margin-xs: 6px;

// /* You can add global styles to this file, and also import other style files */

html, body { height: 100%; box-sizing: border-box; margin: 0;}
body { margin: 0; font-family: Inter, Oswald, Montserrat;}

.spacer {
  flex: 1 1 auto;
}

.with-icon {
  display: flex;
  align-items: center;
}

.btn {
  border: none !important;
}


:root {
  --papermint: #f4f4f4;
  --light-gray: #d3d3d3;
  --soft-gray: #eaeaea;
  --smooth-gray: #f6f6f6;
  --dark: #0f0000;
}

#btmFooter {
  align-self: flex-end;
}

.text-dark {
  color: var(--dark);
}

footer {
  background-color: #ddd;
  border-top: 1px solid #bbb;
  text-align: center;
}

.active-route {
  color:  var(--amaranth) !important;
  background: white;
  font-weight: 500;
}


body {
   margin: 0;
   font-family: Roboto, "Helvetica Neue", sans-serif;
   background-color: var(--amaranth);
}

.border-top-gray {
  border-top: 1px solid #eaeaea;
}

.border-bottom-gray {
  border-bottom: 1px solid #eaeaea;
}

.border-left-gray {
  border-left: 1px solid #eaeaea;
}

.border-right-gray {
  border-right: 1px solid #eaeaea;
}


.border-top-soft-gray {
border-top: 1px solid var(--soft-gray);
}

.border-bottom-soft-gray {
border-bottom: 1px solid var(--soft-gray);
}

.border-left-soft-gray {
border-left: 1px solid var(--soft-gray);
}

.border-right-soft-gray {
border-right: 1px solid var(--soft-gray);
}

.text-small {
  font-size: 12px;;
}

.height-100 {
  height: 100vh;
}

.margin-top-xl {
  margin-top: $margin-xl;
}

.margin-top-lg {
  margin-top: $margin-lg;
}

.margin-top-md {
  margin-top: $margin-md;
}

.margin-top-sm {
  margin-top: $margin-sm;
}

.margin-bottom-xl {
  margin-top: $margin-xl;
}

.margin-bottom-lg {
  margin-top: $margin-lg;
}

.margin-bottom-md {
  margin-top: $margin-md;
}

.margin-bottom-sm {
  margin-top: $margin-sm;
}

.margin-bottom-xs {
  margin-top: $margin-xs;
}

.s-margin-right {
  margin-right: 7px;
}

.m-margin-right {
  margin-right: 14px;
}

.l-margin-right {
  margin-right: 21px;
}

.xl-margin-right {
  margin-right: 28px;
}

.xxl-margin-right {
  margin-right: 36px;
}

.s-margin-left {
  margin-left: 7px;
}

.m-margin-left {
  margin-left: 14px;
}

.l-margin-left {
  margin-left: 21px;
}

.xl-margin-left {
  margin-left: 28px;
}

.xxl-margin-left {
  margin-left: 36px;
}

.no-padding {
  padding: 0 !important;
}

.padding-lg {
  padding: 2em;
}

.padding-md {
  padding: 1em;
}

.padding-sm {
  padding: 0.5em;
}

.padding-xs {
  padding: 0.2em;
}

/*
* Padding bottom
*/

.padding-bottom-xl {
  padding-bottom: 100px;
}

.padding-bottom-lg {
  padding-bottom: 70px;
}

.padding-bottom-md {
  padding-bottom: 40px;
}

.padding-bottom-sm {
  padding-bottom: 20px;
}

.padding-bottom-xs {
  padding-bottom: 10px;
}

/*
* Padding top
*/
.padding-top-xl {
  padding-bottom: 100px;
}

.padding-top-lg {
  padding-bottom: 70px;
}

.padding-top-md {
  padding-bottom: 40px;
}

.padding-top-sm {
  padding-bottom: 20px;
}

.padding-top-xs {
  padding-bottom: 10px;
}


/*
* Padding left
*/
.padding-left-xl {
  padding-left: 100px;
}

.padding-left-lg {
  padding-left: 70px;
}

.padding-left-md {
  padding-left: 40px;
}

.padding-left-sm {
  padding-left: 20px;
}

.padding-left-xs {
  padding-left: 10px;
}


/*
* Padding right
*/
.padding-right-xl {
  padding-right: 100px;
}

.padding-right-lg {
  padding-right: 70px;
}

.padding-right-md {
  padding-right: 40px;
}

.padding-right-sm {
  padding-right: 20px;
}

.padding-right-xs {
  padding-right: 10px;
}


.sidebar {
  -ms-flex: 0 0 230px;
  flex: 0 0 230px;
}

/**
* Images
*/
.img-scale {
  height: 480px;
}

.img-logo {
  width: 80px;
  height: auto;
}

/*
* Jumbotron
**/
.jumbotron {
  background-size: cover;
  min-height: 100vh;
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgb(5 159 159 / 10%) !important;
}
